* {
    margin: 0%;
}

.outerdiv {
    width: 1440px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    background: #f5f6fc;
}

/* header css */
.head{
    width: 1440px;
    height: 304px;
    background-color: #434CCC;
}
.hlogo-section{
    height: 80px;
    display: flex;
}
.hlogo{
    margin-left: 135px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: var(--Text_White, #FFF);
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    font-style: normal;
    
}
.habout{
  height: 224px;
  display: flex;
}
.hlistall{
    width: 324px;
    height: 24px;
    margin-left: 450px;
    margin-top: 28px;
    margin-bottom: 28px;
    /* margin-right: 345px; */
    font-size: 16px;
    color: var(--Text_White, #FFF);
    /* text-align: right; */
    font-weight: 700;
    line-height: 20px;
    font-family: sans-serif;
}
.hlistall li{
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    cursor: pointer;
}
.hlistall li:hover{
    color: #000;
}
.hbtn{
    height: 48px;
    width: 170px;
    border: 1 px dotted black;
    margin-top: 18px;
}
.hlogoab{
    display: flex;
    flex-direction: row;
}
.hbutton{
    width: 170px;
    height: 48px;
    margin-left: 40px;
    background-color: #434CCC;
    color: #ffffff;
    border: 1px dotted #9db2d1;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 300px;
    border-radius: 5px;
}
.hbutton:hover{
    background-color: #343ba0;
    border: 1px solid #9db2d1;
}
.headerH1{
    height: 80px;
    width: 280px;
    font-size: 72px;
    font-weight: 400;
    text-align: center;
    line-height: 80px;
    margin-left: 580px;
    color: var(--Text_White, #FFF);
    margin-top: 47px;
    cursor: pointer;
}
.headerP{
    height: 32px;
    width: 332px;
    margin-left: 570px;
    margin-top: 10px;
    color: var(--Text_White, #FFF);
    font-size: 20px;
    font-weight: 400px;
    line-height: 32px;
    letter-spacing: 1px;
}




/* body part */
.maindiv {
    height: 2384px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* navigation */
.nav-div{
    width: 1440px;
    height: 122px;
    display: flex;
}

.first-nav {
    width: 92px;
    height: 24px;
    position: relative;
    left: 457px;
    top: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-nav>a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.second-nav {
    width: 403px;
    height: 24px;
    position: relative;
    left: 581px;

    top: 47px;
    margin: 0px;
    left: 489px;
    top: 47px;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    
}

.m-list{
    list-style-type: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 0px;

}
.m-links{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.m-links:hover{
    color: #434CCC;
    font-weight: 700;
}

/* body */
.imgdiv1 {
    display: flex;
    flex-direction: row;
    width: 1170px;
    height: 512px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F1B505;
    cursor: pointer;
}
.sider {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.sider1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.communediv {
    width: 78px;
    height: 24px;
    margin: 111px 41px 21px 100px;
}

.commune {
    color: var(--text-white-50, rgba(255, 255, 255, 0.50));
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.titlediv {
    width: 370px;
    height: 128px;
    margin: 0px 0px 36px 100px;
}

.title {
    color: var(--Text_White, #FFF);
    font-family: DM Serif Display;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
}

img {
    border-radius: 5px
}

.readmorebuttonDiv {
    width: 170px;
    height: 48px;
    margin: 0px 0px 144px 100px;
}

.redamoreButton {
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #f1b528;
    border: 1px solid rgba(255, 255, 255, 0.30);
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.redamoreButton:hover {
    background-color: #dda41f;
    cursor: pointer;
}

.imgdiv2 {
    display: flex;
    flex-direction: row;
    width: 1170px;
    height: 512px;
    flex-shrink: 0;
    gap: 32px;
    border-radius: 5px;
    margin-top: 32px;
    position: relative;
}

.innerimg1div {
    width: 570px;
    height: 512px;
    flex-shrink: 0;
    background: #E94A47;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.innerimg2div {
    width: 570px;
    height: 512px;
    flex-shrink: 0;
    background: #438dfc;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.imgpdiv {
    width: 67px;
    height: 24px;
    margin: 79px 0px 0px 100px;
}

.imgp {
    color: var(--text-white-50, rgba(255, 255, 255, 0.50));
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.smallimgtitlediv1 {
    width: 161px;
    height: 96px;
    margin: 17px 0px 24px 100px;
    position: relative;
}
.smallimgtitlediv2{
    width: 147px;
    height: 96px;
    margin: 17px 0px 24px 100px;
    position: relative;
}
.smallimgtitlediv3{
    width: 111px;
    height: 96px;
    margin: 17px 0px 24px 100px;
    position: relative;
}
.smallimgtitle {
    color: var(--Text_White, #FFF);
    font-family: DM Serif Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
}

.square-button1 {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background-color: #e94a47;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #f0807e;
    border-radius: 5px;
    margin: 0px 0px 238px 100px;
}
.square-button1:hover{
    background-color: #da4846;
    cursor: pointer;
}
.square-button2 {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background-color: #438dfc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #9db2d1;
    border-radius: 5px;
    margin: 0px 0px 238px 100px;
}
.square-button2:hover{
    background-color: #1d63ce;
    cursor: pointer;
}
.square-button3 {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background-color: #f1b528;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ddca9d;
    border-radius: 5px;
    margin: 0px 0px 238px 100px;
}
.square-button3:hover {
    background-color: #cf9b21;
    cursor: pointer;
}
.square-button4 {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background-color: #434ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #9db2d1;
    border-radius: 5px;
    margin: 0px 0px 238px 100px;
}
.square-button4:hover {
    background-color: #6871f1;
    cursor: pointer;
}
.plus-sign {
    color: white;
    font-size: 36px;
    padding: 14px;
}
.innerimg2div2 {
    width: 570px;
    height: 512px;
    flex-shrink: 0;
    background: #f1b528;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}
.innerimg2div3 {
    width: 570px;
    height: 512px;
    flex-shrink: 0;
    background: #434ccc;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    
}
.slidersButton {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 80px;
  }
  .arrowButtonarrow{
    background-color: #f5f6fc;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border: solid 1px #0074D9;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
  }
  .arrowButtonarrow:hover{
    border: solid 3px #0074D9;
  }
  .arrowButton {
    background-color: #f5f6fc;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    color: #0074D9;;
    border: solid 1px #0074D9;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
    fill: #434CCC;
  }
  
  .arrowButton:hover{
    background-color: #434ccc;
    color: #ffffff;
  }
  .active {
    color: #0074D9;
    font-weight: bold;
  }
  
.line{
    width: 1440px;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.0974;
    background: #000;
}

/* css after img display */
.m-card{
    /* border: 1px solid black;
    width: 1440px;
    height: 495px; */
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.m-viderer > h5{
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 4.8px;
text-transform: uppercase;
    
}

.m-first-card{
    border: 1px solid black;
    height: 272px;
    width: 275px;
    /* margin-left: 135px; */
    position: relative;
    top: 111px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
}

.m-viderer{
    width: 92px;
    height: 24px;
    border: 1px solid black;
    
}

.m-second-quote{
    width: 275px;
    height: 96px;
    border: 1px solid black;
    margin-top: 33px;

}

.m-second-quote > h4{
font-family: DM Serif Display;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
color: rgba(0, 0, 0, 1);
}

.m-logos{
    border: 1px solid;
    width: 176px;
    height: 48px;
    display: flex;
    flex-direction: row;

}

/* Yellow */
.yellow{
    width: 1440px;
    height: 352px;
    background-color: #FFDD78;
    display: flex;
}
.yhead{
    width: 107px;
    height: 24px;
    margin-top: 79px;
    margin-left: 135px;
    color: black;
    font-size: 16px;   
   font-style: normal;
   font-weight: 400;
    line-height: 24px; 
    letter-spacing: 4.8px;
    font-family: sans-serif;

}
.ypara{
    width: 516px;
    height: 128px;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin-left: 134px;
    margin-top: 24px;

}
.righty{
    margin-top: 132px;
    margin-left: 85px;
}
.yemail{
    width: 370px;
    height: 48px;
    border-radius: 5px;
     border: 1px solid #DADADA;
    background-color: #FFF;
    font-size: 20px;
    padding-left: 20px;
}
.ybtn{
    width: 170px;
    height: 48px;
    margin-left: 30px;
    background-color: #434CCC;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}


/* footer */